page-contact-us {
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .scroll-content {
        @media screen and (min-width: 600px) {
          margin-top: 56px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
        }
        .layout-column {
          max-width: 35rem;
        }
      }
      .logo-home {
        height: 20rem;
        max-width: 30rem;
        margin: auto;
      }
      .contact-info {
        display: flex;
        flex-direction: column;
        .title {  
          span {
            font-size: 3rem;
          }
          p{
            font-size: 1.6rem;
          }
        }
      }
  }
}
