page-contact-us {
    .scroll-content {
        @media screen and (min-width: 600px) {
          margin-top: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .layout-column {
          max-width: 35rem;
        }
      }
      .logo-home {
        height: 20rem;
        max-width: 30rem;
        margin: auto;
      }
}
